<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Random ice cream</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">
  <div class="container">
    <form [formGroup]="randomGroup" (ngSubmit)="randomize()">
      <ion-item>
        <ion-input label="Boles de gelat" type="number" min="1" max="6" formControlName="bolesControl"></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="!randomGroup.valid"> Randomize </ion-button>
    </form>

    <ice-cream-model *ngIf="choice" [choice]="choice"></ice-cream-model>
   
  </div>
  
</ion-content>
