// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-vanilla: #F3E5AB;
  --ion-color-vanilla-rgb: 243,229,171;
  --ion-color-vanilla-contrast: #000000;
  --ion-color-vanilla-contrast-rgb: 0,0,0;
  --ion-color-vanilla-shade: #d6ca96;
  --ion-color-vanilla-tint: #f4e8b3;

  --ion-color-chocolate: #7B3F00;
  --ion-color-chocolate-rgb: 123,63,0;
  --ion-color-chocolate-contrast: #ffffff;
  --ion-color-chocolate-contrast-rgb: 255,255,255;
  --ion-color-chocolate-shade: #6c3700;
  --ion-color-chocolate-tint: #88521a;
  
  --ion-color-strawberry: #FB2943;
  --ion-color-strawberry-rgb: 251,41,67;
  --ion-color-strawberry-contrast: #ffffff;
  --ion-color-strawberry-contrast-rgb: 255,255,255;
  --ion-color-strawberry-shade: #dd243b;
  --ion-color-strawberry-tint: #fb3e56;

  --ion-color-aftereight: #7dffd3;
  --ion-color-aftereight-rgb: 125,255,211;
  --ion-color-aftereight-contrast: #000000;
  --ion-color-aftereight-contrast-rgb: 0,0,0;
  --ion-color-aftereight-shade: #6ee0ba;
  --ion-color-aftereight-tint: #8affd7;
  
  --ion-color-lemon: #ffe54f;
  --ion-color-lemon-rgb: 255,229,79;
  --ion-color-lemon-contrast: #000000;
  --ion-color-lemon-contrast-rgb: 0,0,0;
  --ion-color-lemon-shade: #e0ca46;
  --ion-color-lemon-tint: #ffe861;
  
  --ion-color-coffee: #6F4E37;
  --ion-color-coffee-rgb: 111,78,55;
  --ion-color-coffee-contrast: #ffffff;
  --ion-color-coffee-contrast-rgb: 255,255,255;
  --ion-color-coffee-shade: #624530;
  --ion-color-coffee-tint: #7d604b;

  --ion-color-white: #fff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  --ion-color-beige: #fff0db;
  --ion-color-beige-rgb: 255,240,219;
  --ion-color-beige-contrast: #000000;
  --ion-color-beige-contrast-rgb: 0,0,0;
  --ion-color-beige-shade: #e0d3c1;
  --ion-color-beige-tint: #fff2df;

  --ion-color-beige-light: #faf0e6;
  --ion-color-beige-light-rgb: 250,240,230;
  --ion-color-beige-light-contrast: #000000;
  --ion-color-beige-light-contrast-rgb: 0,0,0;
  --ion-color-beige-light-shade: #dcd3ca;
  --ion-color-beige-light-tint: #fbf2e9;

  --ion-color-chocolate-truffle: #612E35;
  --ion-color-chocolate-truffle-rgb: 97,46,53;
  --ion-color-chocolate-truffle-contrast: #ffffff;
  --ion-color-chocolate-truffle-contrast-rgb: 255,255,255;
  --ion-color-chocolate-truffle-shade: #55282f;
  --ion-color-chocolate-truffle-tint: #714349;

  --ion-color-dark-chocolate: #490206;
  --ion-color-dark-chocolate-rgb: 73,2,6;
  --ion-color-dark-chocolate-contrast: #ffffff;
  --ion-color-dark-chocolate-contrast-rgb: 255,255,255;
  --ion-color-dark-chocolate-shade: #400205;
  --ion-color-dark-chocolate-tint: #5b1b1f;
  
  --ion-color-pistachio: #93C572;
  --ion-color-pistachio-rgb: 147,197,114;
  --ion-color-pistachio-contrast: #000000;
  --ion-color-pistachio-contrast-rgb: 0,0,0;
  --ion-color-pistachio-shade: #81ad64;
  --ion-color-pistachio-tint: #9ecb80;
  
  --ion-color-white-chocolate: #EDE6D6;
  --ion-color-white-chocolate-rgb: 237,230,214;
  --ion-color-white-chocolate-contrast: #000000;
  --ion-color-white-chocolate-contrast-rgb: 0,0,0;
  --ion-color-white-chocolate-shade: #d1cabc;
  --ion-color-white-chocolate-tint: #efe9da;

  --ion-color-mango: #F4BB44;
	--ion-color-mango-rgb: 244,187,68;
	--ion-color-mango-contrast: #000000;
	--ion-color-mango-contrast-rgb: 0,0,0;
	--ion-color-mango-shade: #d7a53c;
	--ion-color-mango-tint: #f5c257;

  --ion-color-almond: #EADDCA;
	--ion-color-almond-rgb: 234,221,202;
	--ion-color-almond-contrast: #000000;
	--ion-color-almond-contrast-rgb: 0,0,0;
	--ion-color-almond-shade: #cec2b2;
	--ion-color-almond-tint: #ece0cf;

  --ion-color-berry: #8D4E85;
	--ion-color-berry-rgb: 141,78,133;
	--ion-color-berry-contrast: #ffffff;
	--ion-color-berry-contrast-rgb: 255,255,255;
	--ion-color-berry-shade: #7c4575;
	--ion-color-berry-tint: #986091;

  --ion-color-cherry: #D2042D;
	--ion-color-cherry-rgb: 210,4,45;
	--ion-color-cherry-contrast: #ffffff;
	--ion-color-cherry-contrast-rgb: 255,255,255;
	--ion-color-cherry-shade: #b90428;
	--ion-color-cherry-tint: #d71d42;

}

.ion-color-vanilla {
  --ion-color-base: var(--ion-color-vanilla);
  --ion-color-base-rgb: var(--ion-color-vanilla-rgb);
  --ion-color-contrast: var(--ion-color-vanilla-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vanilla-contrast-rgb);
  --ion-color-shade: var(--ion-color-vanilla-shade);
  --ion-color-tint: var(--ion-color-vanilla-tint);
}

.ion-color-chocolate {
	--ion-color-base: var(--ion-color-chocolate);
	--ion-color-base-rgb: var(--ion-color-chocolate-rgb);
	--ion-color-contrast: var(--ion-color-chocolate-contrast);
	--ion-color-contrast-rgb: var(--ion-color-chocolate-contrast-rgb);
	--ion-color-shade: var(--ion-color-chocolate-shade);
	--ion-color-tint: var(--ion-color-chocolate-tint);
}

.ion-color-strawberry {
  --ion-color-base: var(--ion-color-strawberry);
  --ion-color-base-rgb: var(--ion-color-strawberry-rgb);
  --ion-color-contrast: var(--ion-color-strawberry-contrast);
  --ion-color-contrast-rgb: var(--ion-color-strawberry-contrast-rgb);
  --ion-color-shade: var(--ion-color-strawberry-shade);
  --ion-color-tint: var(--ion-color-strawberry-tint);
}

.ion-color-aftereight {
  --ion-color-base: var(--ion-color-aftereight);
  --ion-color-base-rgb: var(--ion-color-aftereight-rgb);
  --ion-color-contrast: var(--ion-color-aftereight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-aftereight-contrast-rgb);
  --ion-color-shade: var(--ion-color-aftereight-shade);
  --ion-color-tint: var(--ion-color-aftereight-tint);
}

.ion-color-lemon {
  --ion-color-base: var(--ion-color-lemon);
  --ion-color-base-rgb: var(--ion-color-lemon-rgb);
  --ion-color-contrast: var(--ion-color-lemon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lemon-contrast-rgb);
  --ion-color-shade: var(--ion-color-lemon-shade);
  --ion-color-tint: var(--ion-color-lemon-tint);
}

.ion-color-coffee {
  --ion-color-base: var(--ion-color-coffee);
  --ion-color-base-rgb: var(--ion-color-coffee-rgb);
  --ion-color-contrast: var(--ion-color-coffee-contrast);
  --ion-color-contrast-rgb: var(--ion-color-coffee-contrast-rgb);
  --ion-color-shade: var(--ion-color-coffee-shade);
  --ion-color-tint: var(--ion-color-coffee-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-beige {
  --ion-color-base: var(--ion-color-beige);
  --ion-color-base-rgb: var(--ion-color-beige-rgb);
  --ion-color-contrast: var(--ion-color-beige-contrast);
  --ion-color-contrast-rgb: var(--ion-color-beige-contrast-rgb);
  --ion-color-shade: var(--ion-color-beige-shade);
  --ion-color-tint: var(--ion-color-beige-tint);
}

.ion-color-beigeLight {
  --ion-color-base: var(--ion-color-beige-light);
  --ion-color-base-rgb: var(--ion-color-beige-light-rgb);
  --ion-color-contrast: var(--ion-color-beige-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-beige-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-beige-light-shade);
  --ion-color-tint: var(--ion-color-beige-light-tint);
}

.ion-color-chocolateTruffle {
  --ion-color-base: var(--ion-color-chocolate-truffle);
  --ion-color-base-rgb: var(--ion-color-chocolate-truffle-rgb);
  --ion-color-contrast: var(--ion-color-chocolate-truffle-contrast);
  --ion-color-contrast-rgb: var(--ion-color-chocolate-truffle-contrast-rgb);
  --ion-color-shade: var(--ion-color-chocolate-truffle-shade);
  --ion-color-tint: var(--ion-color-chocolate-truffle-tint);
}

.ion-color-darkChocolate {
  --ion-color-base: var(--ion-color-dark-chocolate);
  --ion-color-base-rgb: var(--ion-color-dark-chocolate-rgb);
  --ion-color-contrast: var(--ion-color-dark-chocolate-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dark-chocolate-contrast-rgb);
  --ion-color-shade: var(--ion-color-dark-chocolate-shade);
  --ion-color-tint: var(--ion-color-dark-chocolate-tint);
}

.ion-color-pistachio {
  --ion-color-base: var(--ion-color-pistachio);
  --ion-color-base-rgb: var(--ion-color-pistachio-rgb);
  --ion-color-contrast: var(--ion-color-pistachio-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pistachio-contrast-rgb);
  --ion-color-shade: var(--ion-color-pistachio-shade);
  --ion-color-tint: var(--ion-color-pistachio-tint);
}

.ion-color-whiteChocolate {
  --ion-color-base: var(--ion-color-white-chocolate);
  --ion-color-base-rgb: var(--ion-color-white-chocolate-rgb);
  --ion-color-contrast: var(--ion-color-white-chocolate-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-chocolate-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-chocolate-shade);
  --ion-color-tint: var(--ion-color-white-chocolate-tint);
}

.ion-color-mango {
	--ion-color-base: var(--ion-color-mango);
	--ion-color-base-rgb: var(--ion-color-mango-rgb);
	--ion-color-contrast: var(--ion-color-mango-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mango-contrast-rgb);
	--ion-color-shade: var(--ion-color-mango-shade);
	--ion-color-tint: var(--ion-color-mango-tint);
}

.ion-color-almond {
	--ion-color-base: var(--ion-color-almond);
	--ion-color-base-rgb: var(--ion-color-almond-rgb);
	--ion-color-contrast: var(--ion-color-almond-contrast);
	--ion-color-contrast-rgb: var(--ion-color-almond-contrast-rgb);
	--ion-color-shade: var(--ion-color-almond-shade);
	--ion-color-tint: var(--ion-color-almond-tint);
}

.ion-color-berry {
	--ion-color-base: var(--ion-color-berry);
	--ion-color-base-rgb: var(--ion-color-berry-rgb);
	--ion-color-contrast: var(--ion-color-berry-contrast);
	--ion-color-contrast-rgb: var(--ion-color-berry-contrast-rgb);
	--ion-color-shade: var(--ion-color-berry-shade);
	--ion-color-tint: var(--ion-color-berry-tint);
}

.ion-color-cherry {
	--ion-color-base: var(--ion-color-cherry);
	--ion-color-base-rgb: var(--ion-color-cherry-rgb);
	--ion-color-contrast: var(--ion-color-cherry-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cherry-contrast-rgb);
	--ion-color-shade: var(--ion-color-cherry-shade);
	--ion-color-tint: var(--ion-color-cherry-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

  }
  
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
